{{> navigation}}

<div class="container" style="color:darkred; margin-top: 20px;">
    <h5>CONSULTA 3</h5>
    <h5>
        Desplegar todos los países que no tengan ningún inventor y que no tengan
        ninguna frontera con otro país ordenados por su área.
    </h5>
</div>

<div class="container pd-4" style="margin-top: 5px;">

    <table class="table table-dark">
    <thead>
        <tr>
        <th scope="col">PAIS</th>
        <th scope="col">AREA</th>
        </tr>
    </thead>
    <tbody>
        {{#each result}}
            <tr>            
                <th scope="row">{{pais}}</th>
                <td>{{area}}</td>        
            </tr>
        {{/each}}
    </tbody>
    </table>

</div>