{{> navigation}}

<div class="container" style="color:darkred; margin-top: 20px;">
    <h5>CONSULTA 14</h5>
    <h5>
       Desplegar cada encuesta y el número de países que las han contestado,
        ordenadas de mayora menor.
    </h5>
</div>

<div class="container pd-4" style="margin-top: 5px;">

    <table class="table table-dark">
    <thead>
        <tr>
        <th scope="col">ENCUESTA</th>
        <th scope="col">TOTAL</th>
        </tr>
    </thead>
    <tbody>
        {{#each result}}
            <tr>            
                <th scope="row">{{encuesta}}</th>
                <td>{{total}}</td>        
            </tr>
        {{/each}}
    </tbody>
    </table>

</div>