{{> navigation}}

<div class="col-md-4 mx-auto" style="margin-top: 20px;">
    <div class="card card-body text-center">
        <p style="color: crimson;">SE HA PRODUCIDO UN ERROR</p>

        <p style="text-align: justify;">
            No se puede eliminar el pais, pruebe eliminando primero todas las fronteras relacionadas con el mismo,
            si el problema persiste, pueda que el pais tiene relacion con inventos, inventores o con alguna respuesta,
            no hay nada por hacer.      
        </p>

        <a href="/links/home/crud_pais"> ENTENDIDO</a>
    </div>
</div>