{{> navigation}}

<div class="col-md-4 mx-auto" style="margin-top: 20px;">
    <div class="card card-body text-center">
        <p style="color: crimson; font-weight: bold;">SE HA PRODUCIDO UN ERROR</p>

        <p style="text-align: justify; font-weight: bold;">
            Pueda que alla querido hacer una operacion con campos vacios, ingresar una cadena en lugar de 
            valores numericos o viceversa, o bien ocurrio un error en la consulta a visualizar.
        </p>
        <a href="/links/home/"> ENTENDIDO</a>
    </div>
</div>