{{> navigation}}

<div class="col-md-4 mx-auto" style="margin-top: 20px;">
    <div class="card card-body text-center">
        <p style="color: crimson;">SE HA PRODUCIDO UN ERROR</p>

        <p style="text-align: justify;">
            No se puede eliminar la pregunta, pueda que la pregunta tenga relacion con respuesta y respuesta_correcta,
            no hay nada por hacer.    
        </p>

        <a href="/links/home/crud_pregunta"> ENTENDIDO</a>
    </div>
</div>