{{> navigation}}

{{> mensajeSuccess}}

<div class="container">
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="header-content mx-auto">
                        <h1 class="mb-5">
                            Te hemos esperado tanto y por fin ha llegado el momento, esperamos ser de utilidad para ti ¡Bienvenido!
                        </h1>
                    </div>
                </div>
                <div class="col-lg-5 my-auto">
                    <div class="device-wrapper">
                        <div class="device" data-orientation="portrait" data-color="white">
                            <div class="screen">
                                <!-- PUT CONTENTS HERE-->
                                <img class="img-fluid"
                                    src="http://www.pngall.com/wp-content/uploads/5/Pokemon-Pikachu-PNG-Images.png"/>
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>