<div class="col-md-4 mx-auto" style="margin-top: 20px;">
    <div class="card card-body text-center">
        <p style="color: darkgreen; font-weight: bold;">SE HA REGISTRADO EL USUARIO</p>

        <p style="text-align: center; font-weight: bold;">
            Ya puede iniciar sesion con dicho usuario creado.    
        </p>
        <a href="/links/add/"> ENTENDIDO</a>
    </div>
</div>