<div class="container" style="padding-top: 20px;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/links/home/" style="padding-left: 15px;">BD1 PY2 CECC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav" style="padding-right: 15px;">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink"  data-toggle="dropdown" aria-expanded="false">
              CRUD
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a href="/links/home/crud_pais" class="dropdown-item">PAIS</a></li>
              <li><a href="/links/home/crud_pregunta" class="dropdown-item">PREGUNTA</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"  data-toggle="dropdown" aria-expanded="false">
              MANTENIMIENTO
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a href="/links/home/mante_invento" class="dropdown-item">INVENTOS</a></li>
              <li><a href="/links/home/mante_rescorrec" class="dropdown-item">RESPUESTAS CORRECTAS</a></li>
            </ul>
          </li>          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"  data-toggle="dropdown" aria-expanded="false">
              CONSULTAS 1-10
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a href="/links/home/consulta1" class="dropdown-item">CONSULTA 1</a></li>
              <li><a href="/links/home/consulta2" class="dropdown-item">CONSULTA 2</a></li>
              <li><a href="/links/home/consulta3" class="dropdown-item">CONSULTA 3</a></li>
              <li><a href="/links/home/consulta4" class="dropdown-item">CONSULTA 4</a></li>
              <li><a href="/links/home/consulta5" class="dropdown-item">CONSULTA 5</a></li>
              <li><a href="/links/home/consulta6" class="dropdown-item">CONSULTA 6</a></li>
              <li><a href="/links/home/consulta7" class="dropdown-item">CONSULTA 7</a></li>
              <li><a href="/links/home/consulta8" class="dropdown-item">CONSULTA 8</a></li>
              <li><a href="/links/home/consulta9" class="dropdown-item">CONSULTA 9</a></li>
              <li><a href="/links/home/consulta10" class="dropdown-item">CONSULTA 10</a></li>
             </ul>
          </li>
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"  data-toggle="dropdown" aria-expanded="false">
              CONSULTAS 11-20
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a href="/links/home/consulta11" class="dropdown-item">CONSULTA 11</a></li>
              <li><a href="/links/home/consulta12" class="dropdown-item">CONSULTA 12</a></li>
              <li><a href="/links/home/consulta13" class="dropdown-item">CONSULTA 13</a></li>
              <li><a href="/links/home/consulta14" class="dropdown-item">CONSULTA 14</a></li>
              <li><a href="/links/home/consulta15" class="dropdown-item">CONSULTA 15</a></li>
              <li><a href="/links/home/consulta16" class="dropdown-item">CONSULTA 16</a></li>
              <li><a href="/links/home/consulta17" class="dropdown-item">CONSULTA 17</a></li>
              <li><a href="/links/home/consulta18" class="dropdown-item">CONSULTA 18</a></li>
              <li><a href="/links/home/consulta19" class="dropdown-item">CONSULTA 19</a></li>
              <li><a href="/links/home/consulta20" class="dropdown-item">CONSULTA 20</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/links/add/">SALIR</a>
          </li>
        </ul>
      </div>
  </nav>
</div>
